<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta app-env="<%= htmlWebpackPlugin.options.env %>" app-date-generated="<%= new Date() %>">
    <title>Webpack Roboto</title>
</head>
<body>

<div class="roboto-100">Roboto 100</div>
<div class="roboto-300">Roboto 300</div>
<div class="roboto-400">Roboto 400</div>
<div class="roboto-500">Roboto 500</div>
<div class="roboto-700">Roboto 700</div>
<div class="roboto-900">Roboto 900</div>

</body>
</html>